services:
  mysql:
    container_name: mysql
    image: mysql
    ports:
      - "3306:3306"
    networks:
      - mynet
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "Flask"
    restart: always
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost","-uroot","-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  flask:
    build: .
    container_name: flask
    ports:
      - "5000:5000"
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DB: Flask
    networks:
      - mynet
    depends_on:
      - mysql
    restart: always
    healthcheck:
      test: ["CMD-SHELL","curl -f http://localhost:5000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
volumes:
  mysql-data:
networks:
  mynet:
